# Tools for Data Science

### In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
- Practice using lists and tables in markdown
- Be comfortable working with arithmetic in python
- List popular languages for data science

## Data Science Languages
1. Python
2. R
3. SQL

## Data Science Libraries
1. Pandas
2. Numpy
3. Plotly

| Tools    | Type |
| -------- | ------- |
| JupyterLite  | Web App    |
| Github | Version Control    |
| RStudio    | IDE    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author: 
Jiali